/*---
Root / Elements
---*/
* {
    text-align: center;
}
:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    --dark: #021E20;
    --main: #033660;
    --main-op: rgba(3, 54, 96, 0.7);
    --support: #58658d;
    --support-op: rgba(88, 101, 141, 0.6);
    --grey: rgba(256, 256, 256, 0.8);
}
body {
    height: calc(100vh);
    display: grid;
    grid-template-rows: 150px 100%;
    place-items: center;
    background: var(--dark);
    margin: 0;
}
form {
    min-width: 550px;
    max-width: 900px;
    width: 50%;
    height: 60%;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    align-self: center;
    align-items: center;
    background-color: var(--main);
    border: 0px solid var(--support);
    border-radius: 50px;
    box-shadow: 0 0 0 3px var(--dark),
    0 0 0 5px var(--support);
    padding: 0;
}
button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background: var(--main);
}
button:hover {
    cursor: pointer;
}
input, i {
    font-size: 1.25rem;
    color: white;
}
input[type="text"] {
    height: 60%;
    background: transparent;
    border: 0;
    text-align: left;
}
input[type="text"]:focus, button:focus {
    outline: none;
    border: none;
}
a {
    color: white;
    text-decoration: none;
}
/*---
Classes
---*/
.top {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    place-items: center;
}
.title-cont {
    height: fit-content;
    min-width: 500px;
    width: 50%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    gap: 20px;
    background-color: var(--dark);
    border-radius: 0 0 8px 8px;
    border-top-width: 0;
    font-weight: 100;
}
.title-link {
    display: flex;
    gap: 10px;
}
.search-input {
    margin-left: 25px;
}
.location-btn {
    justify-content: center;
    background: var(--support);
    border-radius: 0 50px 50px 0;
    font-size: 1.2rem;
    transition: 180ms;
}
.location-btn:hover {
    background: var(--support-op);
}
.dropdown-cont {
    display: none;
    min-width: 490px;
    width: 45%;
    position: fixed;
    top: 138px;
    overflow-y: auto;
    box-shadow: 0 0 0 3px var(--dark),
    0 0 0 5px var(--support);
}
.dropdown-cont::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main);
}
.dropdown-cont::-webkit-scrollbar-thumb {
    background: var(--support);
    border-radius: 10px;
}
.option-btn {
    width: 100%;
    position: relative;
    display: flex;
    background: var(--main);
    color: white;
    font-weight: normal;
    font-size: 1rem;
    justify-content: left;
    padding: 20px;
    margin: 0;
}
.option-btn:hover {
    background: var(--support);
}

.bottom {
    width: 100%;
    align-self: flex-start;
    display: grid;
    align-items: flex-start;
    place-items: flex-start;
    justify-items: center;
    gap: 20px;
}
.widget-cont {
    min-width: 550px;
    width: 50%;
    max-width: 900px;
}
.w-cont {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 3fr;
    place-items: center;
    align-items: center;
    justify-content: center;
    background: var(--main);
    border-radius: 20px;
    padding: 20px;
}
.w-sides {
    height: 100%;
    width: 100%;
}
.w-text {
    margin: 0;
}
.w-sub {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.w-subtitle {
    font-weight: normal;
}
.w-img {
    min-width: 100px;
    width: 100%;
}
.sun-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sun-img {
    width: 40px;
}
.hours-cont {
    min-width: 500px;
    width: 45%;
    max-width: 850px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.hours-cont:first-child {
    border-radius: 20px 0 0 20px;
}
.hours-cont:last-child {
    border-radius: 0 20px 20px 0;
}
.hour-cont {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    background: var(--main);
}
.hour-img {
    width: 80%;
    padding-bottom: 10px;
}
/*---
Typography
---*/
.title-link h3 {
    color: var(--grey);
    font-weight: normal;
    font-family: monospace;
}
.search-input::placeholder {
    font-style: italic;
    color: var(--grey);
}

@keyframes scaleUp {
    from {
        scale: 1;
    }
    to {
        scale: 1.15;
    }
}
@keyframes scaleDown {
    from {
        scale: 1.15;
    }
    to {
        scale: 1;
    }
}
@keyframes scaleWUp {
    from {
        scale: 0.95;
    }
    to {
        scale: 1;
    }
}

@keyframes scaleWDown {
    from {
        scale: 1;
    }
    to {
        scale: 0.95;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        font-size: 14px;
    }
}
@media only screen and (min-width: 400px) and (max-width: 400px) {
    :root {
        font-size: 16px;
    }
}
@media only screen and (max-width: 650px) {
    .title-cont {
        min-width: 90%;
        padding: 0 20px;
    }
    form {
        min-width: 97%;
    }
    .widget-cont, .hours-cont {
        min-width: 100%;
        border-radius: 0;
    }
    .dropdown-cont {
        min-width: calc(100% - 16px);
    }
    form, .w-cont, .location-btn, .hours-cont:first-child, .hours-cont:last-child, .hour-cont {
        border-radius: 0;
    }
    .w-cont {
        grid-template-columns: 1fr repeat(2, 2fr);
        grid-template-rows: 1fr 2fr;
        padding: 5px;
    }
    .w-text {
        grid-column: 2 / span 4;
    }
    .w-img {
        grid-row: span 2;
    }
}
@media only screen and (min-width: 1000px) {
    :root {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1300px) {
    :root {
        font-size: 21px;
    }
    body {
        grid-template-rows: 175px 100%;
    }
    .dropdown-cont {
        top: 160px;
        max-width:  800px;
    }
}